/**
flex: 부모 element 에 넣으면 자식요소가 inline 요소로 변경
inline-flex: flex 와 같지만 부모요소가 자식요소 크기만큼 차지하는 inline 요소로 변겸
 */

html {
  font-size: 10px;
}

body {
  .header {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding-left: 2rem;
      &-label {
        color: #7e57c2;
        font-size: 3rem;
      }
    }

    .tab {
      padding-right: 2rem;
      &-ul {
        display: flex;
        list-style: none;
        padding: 1rem;
      }

      &-li {
        margin-left: 1rem;
        margin-right: 1rem;

        &:nth-child(1) {
          margin-right: 1rem;
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
          margin-left: 1rem;
        }

        &-icon {
          width: 1.4rem;
          margin-right: 0.5rem;
        }

        &-anchor {
          font-size: 1.4rem;
          text-decoration: none;
          font-family: Pretendard;
          font-weight: 400;
        }
      }
    }
  }

  .main {
    #service {
      img {
        width: 100%;
      }
    }
  }

  .footer {
  }
}
